{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        Ваша учётная запись успешно создана.
        Для завершения регистрации перейдите по этой ссылке:
        <a href="{{ url('activation') }}?id={{ id }}&code={{ code }}">Активировать учётную запись</a>
    </div>
{% endblock %}
