{% extends 'base.html.twig' %}

{% block title %} Добро пожаловать {% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1> Добро пожаловать </h1>
        {% for message in app.flashes('notice') %}
            {{ message }}
        {% endfor %}
        <a href="{{ url('login') }}">Вход</a> | <a href="{{ url('registration') }}">Регистрация</a>
    </div>
{% endblock %}
